
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-580336002678129173.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-580336002678129173.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-580336002678129173.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-580336002678129173.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-580336002678129173.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-580336002678129173.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-580336002678129173.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-580336002678129173.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-580336002678129173.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-580336002678129173.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-580336002678129173.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-580336002678129173.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-580336002678129173.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-580336002678129173.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-580336002678129173.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-580336002678129173.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-580336002678129173.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-580336002678129173.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-580336002678129173.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-580336002678129173.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-580336002678129173.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-580336002678129173.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-580336002678129173.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-580336002678129173.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-580336002678129173.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-580336002678129173.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-580336002678129173.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-580336002678129173.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-580336002678129173.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-580336002678129173.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-580336002678129173.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-580336002678129173.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-580336002678129173.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-580336002678129173.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-580336002678129173.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-580336002678129173.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-580336002678129173.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-580336002678129173.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-580336002678129173.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-580336002678129173.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-580336002678129173.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-580336002678129173.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-580336002678129173.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-580336002678129173.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-580336002678129173.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-580336002678129173.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-580336002678129173.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-580336002678129173.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-580336002678129173.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-580336002678129173.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-580336002678129173.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-580336002678129173.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-580336002678129173.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-580336002678129173.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-580336002678129173.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-580336002678129173.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-580336002678129173.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-580336002678129173.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-580336002678129173.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-580336002678129173.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-580336002678129173.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-580336002678129173.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-580336002678129173.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-580336002678129173.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-580336002678129173.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-580336002678129173.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-580336002678129173.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-580336002678129173.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-580336002678129173.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-580336002678129173.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-580336002678129173.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-580336002678129173.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-580336002678129173.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-580336002678129173.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-580336002678129173.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-580336002678129173.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-580336002678129173.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-580336002678129173.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-580336002678129173.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-580336002678129173.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-580336002678129173 .gp-g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-580336002678129173 .gp-relative{position:relative}.gps-580336002678129173 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-580336002678129173 .gp-mb-0{margin-bottom:0}.gps-580336002678129173 .gp-flex{display:flex}.gps-580336002678129173 .gp-grid{display:grid}.gps-580336002678129173 .\!gp-hidden{display:none!important}.gps-580336002678129173 .gp-hidden{display:none}.gps-580336002678129173 .gp-max-w-full{max-width:100%}.gps-580336002678129173 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-580336002678129173 .gp-flex-col{flex-direction:column}.gps-580336002678129173 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-580336002678129173 .gp-duration-200{transition-duration:.2s}.gps-580336002678129173 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-580336002678129173 .tablet\:\!gp-hidden{display:none!important}.gps-580336002678129173 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-580336002678129173 .mobile\:\!gp-hidden{display:none!important}.gps-580336002678129173 .mobile\:gp-hidden{display:none}}.gps-580336002678129173 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(254, 254, 254)","type":"color"}},"uid":"gQG6BbRD2N"}' data-id="gQG6BbRD2N" id="gQG6BbRD2N" data-same-height-subgrid-container class="gQG6BbRD2N gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_PRODUCT;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:30px;--pl-mobile:15px;--pb-mobile:30px;--pr-mobile:15px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:rgb(254, 254, 254);--bgi:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gU46fdnMy0 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gHnW3-vHbi"}' data-id="gHnW3-vHbi" id="gHnW3-vHbi" data-same-height-subgrid-container class="gHnW3-vHbi gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_PRODUCT;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:24px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:24px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gU6GjDc8jF gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(254, 254, 254)","type":"color"}},"uid":"gTeVjmh8Qw"}' data-id="gTeVjmh8Qw" id="gTeVjmh8Qw" data-same-height-subgrid-container class="gTeVjmh8Qw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_PRODUCT;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:rgb(254, 254, 254);--bgi:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gpX8xselwt gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gfADEBNsN8"}' data-id="gfADEBNsN8" id="gfADEBNsN8" data-same-height-subgrid-container class="gfADEBNsN8 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:23px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gZY5_DN930 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="go9ZjTNrdx"
        class="go9ZjTNrdx"
        style="--ta:left;--mb:40px;--mb-mobile:27px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755605166449"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:500;--ls:;--size:32px;--size-tablet:26px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggo9ZjTNrdx_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9_PDiP7vk"
        class="g9_PDiP7vk"
        style="--ta:left;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:40px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:18px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755605166450"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9_PDiP7vk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-580336002678129173 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vdyagh-ct/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=578603564503401112&sectionId=580336002678129173)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggo9ZjTNrdx_text","label":"ggo9ZjTNrdx_text","default":"Testează timp de 30 de zile, fără niciun risc"},{"type":"html","id":"gg9_PDiP7vk_text","label":"gg9_PDiP7vk_text","default":"<p>Noi credem în efectul <strong>EverLux</strong>, care îți dă încredere! Încearcă timp de 30 de zile, simte diferența. Dacă nu ești mulțumită, primești banii înapoi fără nicio întrebare. Pășește cu încredere în frumusețe!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  