
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-580231341925204980.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-580231341925204980.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-580231341925204980.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-580231341925204980.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-580231341925204980.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-580231341925204980.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-580231341925204980.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-580231341925204980.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-580231341925204980.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-580231341925204980.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-580231341925204980.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-580231341925204980.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-580231341925204980.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-580231341925204980.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-580231341925204980.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-580231341925204980.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-580231341925204980.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-580231341925204980.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-580231341925204980.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-580231341925204980.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-580231341925204980.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-580231341925204980.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-580231341925204980.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-580231341925204980.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-580231341925204980.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-580231341925204980.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-580231341925204980.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-580231341925204980.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-580231341925204980.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-580231341925204980.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-580231341925204980.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-580231341925204980.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-580231341925204980.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-580231341925204980.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-580231341925204980.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-580231341925204980.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-580231341925204980.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-580231341925204980.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-580231341925204980.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-580231341925204980.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-580231341925204980.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-580231341925204980.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-580231341925204980.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-580231341925204980.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-580231341925204980.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-580231341925204980.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-580231341925204980.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-580231341925204980.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-580231341925204980.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-580231341925204980.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-580231341925204980.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-580231341925204980.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-580231341925204980.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-580231341925204980.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-580231341925204980.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-580231341925204980.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-580231341925204980.gps.gpsil [style*="--b-mobile:"]{border:var(--b-mobile)}.gps-580231341925204980.gps.gpsil [style*="--bc-mobile:"]{border-color:var(--bc-mobile)}.gps-580231341925204980.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-580231341925204980.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-580231341925204980.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-580231341925204980.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-580231341925204980.gps.gpsil [style*="--bw-mobile:"]{border-width:var(--bw-mobile)}.gps-580231341925204980.gps.gpsil [style*="--shadow-mobile:"]{box-shadow:var(--shadow-mobile)}.gps-580231341925204980.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-580231341925204980.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-580231341925204980.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-580231341925204980.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-580231341925204980.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-580231341925204980.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-580231341925204980.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-580231341925204980.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-580231341925204980.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-580231341925204980.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-580231341925204980.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-580231341925204980.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-580231341925204980 .gp-relative{position:relative}.gps-580231341925204980 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-580231341925204980 .gp-mb-0{margin-bottom:0}.gps-580231341925204980 .gp-flex{display:flex}.gps-580231341925204980 .gp-grid{display:grid}.gps-580231341925204980 .\!gp-hidden{display:none!important}.gps-580231341925204980 .gp-hidden{display:none}.gps-580231341925204980 .gp-max-w-full{max-width:100%}.gps-580231341925204980 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-580231341925204980 .gp-flex-col{flex-direction:column}.gps-580231341925204980 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-580231341925204980 .gp-duration-200{transition-duration:.2s}.gps-580231341925204980 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-580231341925204980 .tablet\:\!gp-hidden{display:none!important}.gps-580231341925204980 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-580231341925204980 .mobile\:\!gp-hidden{display:none!important}.gps-580231341925204980 .mobile\:gp-hidden{display:none}}.gps-580231341925204980 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gHQfZ-ku-i"}' data-id="gHQfZ-ku-i" id="gHQfZ-ku-i" data-same-height-subgrid-container class="gHQfZ-ku-i gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--pt-tablet:var(--g-s-2xl);--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:none;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gLDXoxiKvx gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"g9r0AVBMhn"}' data-id="g9r0AVBMhn" id="g9r0AVBMhn" data-same-height-subgrid-container class="g9r0AVBMhn gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gyV_hcKhf9 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWBqEItone"
        class="gWBqEItone"
        style="--ta:center;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:4px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755615039092"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b-mobile:solid;--bc-mobile:#4F4F4F;--bw-mobile:2px 2px 2px 2px;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--shadow-mobile:none;--ts:none;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--ls:;--size:29px;--size-tablet:32px;--size-mobile:16px;--lh-mobile:100%;--c:#4F4F4F;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWBqEItone_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-580231341925204980 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vdyagh-ct/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=578603564503401112&sectionId=580231341925204980)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggWBqEItone_text","label":"ggWBqEItone_text","default":"Cumperi 1, al Doilea&nbsp;la&nbsp;50% Reducere"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  